<footer class="page-footer orange">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">SPB</h5>
        <p class="grey-text text-lighten-4">
          Portail des applications gérées par SPB pour les contrats grands comptes.
        </p>
      </div>

    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Made by <a class="orange-text text-lighten-3" href="https://github.com/bastien-m">Mercier</a>
    </div>
  </div>
</footer>
